.part1 {
    background-image: url(../images/mounatin.png);
    background-size: cover; 
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
}
h1{ font-family: 'Josefin Sans', sans-serif;color:
     azure;letter-spacing: 0.3em; font-weight: bold; margin-top: -60px;}

.txt1 {word-spacing: 0.2em; color: azure;font-family: 'Josefin Sans', sans-serif;
    
    letter-spacing: 0.3em; margin-top: -20px; }

.sd{color: azure; transform: translateY(100px)
    ;font-family: 'Josefin Sans', sans-serif;letter-spacing: 0.3em;
font-size: x-small;}

.scdn{transform: translateY(100px);}


.srh-box {margin-top: 30px;
padding: 15px 200px;
border: 1px solid #ccc;
margin-right: 8px;
font-family: 'Josefin Sans', sans-serif;}

.srh-btn { margin-left: -132px;
padding: 15px 40px;
background-color: #007bff; 
color: #fff;
border: none;
cursor: pointer;
}

.srh-btn:hover {
background-color: #0056b3; 
}

.navg { position: sticky;
    top: 0;
    z-index: 1000;



    display: flex;
    justify-content: space-between; 
    align-items: center; 
    max-width: 100%; 
    margin: 0 auto; 
    background-color:rgba(84, 116, 253, 1) ;
}

.logo img { transform: translateX(300px);
   
}

.links {transform: translateX(-60%);
    display: flex;
    list-style: none; 
    padding: 0; 
}

.links li {
    margin-left: 20px;
}

.links a {
    text-decoration: none; 
    color:#fff; 
}



.part2 {max-width: 100%;
background-image: url(../images/building.png);
background-size: cover; 
background-position: center;
height: 100vh;
display: flex;}

.hdtxt2{color: #fff;
transform: translate(80%,30%);

}




h2{
font-family: 'Aleo', sans-serif
}

h5{
font-family: 'Josefin Sans',sans-serif
}


.exp-btn { transform: translate(-40%,1000%);
padding: 15px 40px;
background-color: #007bff; 
color: #fff;
border: none;
cursor: pointer;
}

.exp-btn:hover {
background-color: #0056b3; 
}
.ims1{transform: translate(70%,15%);}
.ims2{transform: translate(1%,48%);}
.hiw {
max-width: 100%;
height: auto;
overflow: hidden;
display: flex; 
justify-content: center; 
margin-top: -3px;
}

.part4 {
background-image: url(../images/luxury.png);
background-size: cover; 
background-position: center;
height: 100vh;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
max-width: 100%;
margin-top: -3px;
}
.txt-spain{ transform: translate(-60%,15%);
background-color: rgba(35, 35, 35, 0.9); 
padding: 50px;
color: #fff;}


.book-btn { transform: translate(0%,0%);
padding: 15px 40px;
background-color: #007bff; 
color: #fff;
border: none;
cursor: pointer;
}

.book-btn:hover {
background-color: #0056b3; 
}

.part5 {
    background-image: url(../images/sea-view.png);
    background-size: cover; 
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    margin-top: -3px;
}
.txt-spain2{ transform: translate(60%,15%);
    background-color: rgba(35, 35, 35, 0.9); 
padding: 50px;
color: #fff;}


.part6 {
    background-image: url(../images/climber.png);
    background-size: cover; 
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    color: #fff;
}
.ims-mix {  background-color: rgba(35, 35, 35, 0.9); 
    padding: 50px;
    color: #fff;
    display: flex;
    align-items: center; 
}

.ims3 {
    max-width: 50%; 
    margin-right: 20px;
}

.text-container {
    flex-grow: 1; 
}
.htxt6{margin-top: -100px;}

footer {
    max-width: 100%;
    background-color: #333; 
    padding: 40px; 
    display: flex; 
    flex-direction: column;
    align-items: center; 
}

.footer-section {
    flex: 1; 
    text-align: center;
}

.logo img {
   max-width: 100%;
   transform: translateX(0%);
}

.social-icons {
    display: flex; 
    justify-content: center; 
    align-items: center;
    margin-top: 20px; 
    margin-bottom: 20px; 
}
.social-icons a {
    margin: 0 10px;
}
.txtt{color: #fff;}


@media (max-width: 768px) {
    .navg {
        flex-direction: column;
        align-items: center;
    }
    
}


@media (max-width: 320px) {
    .navg {
        flex-direction: column;
        align-items: center;
    }
   
}